* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;

}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
}

code {

}

#quote-box {
  display: table;
  padding: 2em;
  width: 100%;
  max-width: 450px;
  border-radius: 3px;
  background-color: white;
  justify-content: center;
}

#text {
  font-size: 1.75em;
}

#author {
  text-align: right;
}

#buttons {
  height: auto;
  width: auto;
  display: block;
}

button {
  padding: 10px;
  color: white;
  border-style: none;
  border-radius: 3px;
  float: right;
}

card {
  color: blue;
}

.button {
  background-color: blue;
  text-align: center;
  float: left;
  justify-content: center;
  padding: 10px 15px;
  color: white;
  border-style: none;
  border-radius: 3px;
}